/* https://benri-no1.com/box/#33 */
:root{
    --col1:#f1dfbf;
    --col2:#483F37;
}
.form{
    padding:0 5vw;
}

.boxmi13 {
    position:relative;
    margin: 4em 0 1em;
    border-radius: px;
    box-shadow: 0 0 0 10px var(--col1);
    padding: 20px 20px 20px 20px;
    background-color: var(--col1);
    background-image:
        linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, var(--col1) 0%, var(--col1) 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #ed7780 100%);
    background-size: 8px 100%, 100% 2em;
    line-height: 2;
    color: var(--col2);
    font-weight: bold;
    min-height: 50vh;
}
@media screen and (min-width: 768px) {
    .boxmi13{
        margin: 8em 0 1em;
        min-height: 30vh;
    }
}

.boxmi13-title {
    background: var(--col1);
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 5px -20px;
    font-size: 3em;
    padding: 10px 0 10px 0;
    color: var(--col2);
    font-weight: bold;
    text-align: center;
    resize: none;
    width: calc(40px + 100%);
    display: block;
    border: none;
    height: min-content;
}

.boxmi13-sender {
    position: absolute;
    font-weight: bold;
    text-align: right;
    bottom: 15px;
    right: 20px;
    width: 50%;
}

.boxmi13 p {
    margin: 0;
    padding: 0;
}
.btn{
    cursor: pointer;
}
#contents{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    min-height: 3em;
    font-size: 2.43em;
    background-color: transparent;
    height: 221px;
    border: none
}