.top{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    transition-duration: 0.5s;
    background-color:rgba(0,0,0,0.6);
    background-blend-mode:darken;
    background-position: center;
}
