.top {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-position: center;
}

.container {
  margin: 20%;
}

.container>div {
  
  margin-bottom: 50px;
}

.head_title {
  display: block;
  text-align: center;
  color: whitesmoke;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.head_caption {
  display: block;
  text-align: center;
  color: whitesmoke;
  font-size: 0.6rem;
  letter-spacing: 0.25rem;
}

.text {
  
  line-height: 200%;
  color: whitesmoke;
  font-size: 1.0rem;
  margin-top: 20px;
}

.text a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  margin-top: inherit;

}



/*about*/
.about {
  display: block;
  margin: 12.5% 15% 5% 15%;
}


.about_head {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.ojo{
  display: inline-block;
  
}

.ojo_upper{
  font-size: 102%;
  text-align: left;
  display: inline-block;
}

.ojo_middle{
  font-size: 102%;
  text-align: center;
  display: inline-block;
}

.ojo_lower{
  font-size: 102%;
  text-align: right;
  display: inline-block;
}





/*最新情報*/
.news {
  display: block;
  margin: 12.5% 15% 5% 15%;
}

.news_list {
  margin-bottom: 40px;
}

.news_list table, .news_list tbody, .news_list tr, .news_list td {
  display: block;
}

.news_list tr{
  display: flex;
  align-items: center;
  padding: 1.2rem 0rem;
  border-bottom: 1px solid #f5f5f5;

}

.news_list tr:first-child {
  border-top: 1px solid #f5f5f5;
}

.news_list td {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news_list .date{
  flex-shrink: 0;
  width: 5.5rem;
  color: #f5f5f5;
  
  border-right: 1px solid;
  text-align: center;
  line-height: 1.75rem;
  padding-right: 1.2rem;
  margin-right: 1.2rem;

}

.news_list .date_year {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.news_list .date_day {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.news_list .title {
  font-size: 1.0rem;
  line-height: 2.0rem;
}

.news_list .title a{
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;

}




/*linkButton*/
.linkButton_text{
  text-decoration: none;
}

.linkButton {
  display: block;
  margin: 0 auto;
  width: 4rem;
  text-align: center;
  background: #b17358;
  
  border-radius: 4px;
  margin-top: 10px 20px;
  transition: background 0.3s;
  cursor: pointer;
}





/*
display: inline-block;
font-size: 1rem;
background: #b89a7c;
color: #1b1b1b;
padding: 10px 20px;
text-decoration: none;
border-radius: 4px;
margin-top: 20px;
transition: background 0.3s;
cursor: pointer;
*/


.twitter-wrap {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;

  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 500px;
}

/*お問い合わせ*/
.contact {
  display: block;
  margin: 12.5% 15% 5% 15%;
}