body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    color: #b89a7c;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

header {
    position: fixed;
    width: 100%;
    /* background: #2c2c2c; */
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: #b89a7c;
    font-size: 2rem;

    @media (min-width: 800px) {
        font-size: 3rem;
    }
}

h2 {
    border-bottom: 2px solid #b89a7c;
    padding-bottom: 10px;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b89a7c;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

a {
    font-size: 18px;
    color: #b89a7c;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

a+p {
    margin-top: 0;
}


.btn {
    display: inline-block;
    font-size: 1rem;
    background: #b89a7c;
    color: #1b1b1b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background 0.3s;
    cursor: pointer;
}

.btn:hover {
    background: #a2876a;
}

.btn2{
    display: inline-block;
    font-size: 1rem;
    color: #b89a7c;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid #b89a7c;
}
.btn2:hover {
    border: 2px solid #a2876a;
}

#visitCounter {
    text-align: center;
}

textarea {
    width: 100%;
    /* レスポンシブな幅 */
    background: #1b1b1b;
    /* 背景色 */
    color: #b89a7c;
    /* 文字色 */
    border: 2px solid #b89a7c;
    /* 境界線のスタイル */
    padding: 10px;
    /* 内側の余白 */
    font-family: 'Noto Sans JP', sans-serif;
    /* フォントファミリー */
    font-size: 18px;
    /* フォントサイズ */
    margin-top: 20px;
    /* 上の余白 */
    border-radius: 4px;
    /* 境界線の角丸 */
    line-height: 1.6;
    /* 行の高さ */
}

textarea:focus {
    outline: none;
    /* フォーカス時のアウトラインを削除 */
    border-color: #a2876a;
    /* フォーカス時の境界線の色 */
}

select {
    width: 100%;
    /* レスポンシブな幅 */
    background: #1b1b1b;
    /* 背景色 */
    color: #b89a7c;
    /* 文字色 */
    border: 2px solid #b89a7c;
    /* 境界線のスタイル */
    padding: 10px;
    /* 内側の余白 */
    font-family: 'Noto Sans JP', sans-serif;
    /* フォントファミリー */
    font-size: 18px;
    /* フォントサイズ */
    margin-top: 20px;
    /* 上の余白 */
    border-radius: 4px;
    /* 境界線の角丸 */
    line-height: 1.6;
    /* 行の高さ */
    appearance: none;
    /* デフォルトのselectスタイルを無効にする */
    cursor: pointer;
    /* カーソルスタイル */
}

select:focus {
    outline: none;
    /* フォーカス時のアウトラインを削除 */
    border-color: #a2876a;
    /* フォーカス時の境界線の色 */
}

option {
    background: #1b1b1b;
    /* 背景色 */
    color: #b89a7c;
    /* 文字色 */
}


input {
    width: 100%;
    /* レスポンシブな幅 */
    background: #1b1b1b;
    /* 背景色 */
    color: #b89a7c;
    /* 文字色 */
    border: 2px solid #b89a7c;
    /* 境界線のスタイル */
    padding: 10px;
    /* 内側の余白 */
    font-family: 'Noto Sans JP', sans-serif;
    /* フォントファミリー */
    font-size: 18px;
    /* フォントサイズ */
    margin-top: 20px;
    /* 上の余白 */
    border-radius: 4px;
    /* 境界線の角丸 */
    line-height: 1.6;
    /* 行の高さ */
    box-sizing: border-box;
    /* 枠線を含めたサイズで計算 */
    transition: border-color 0.3s;
    /* 境界線の色の変化を滑らかに */
}

input:focus {
    outline: none;
    /* フォーカス時のアウトラインを削除 */
    border-color: #a2876a;
    /* フォーカス時の境界線の色 */
}